name: Sync upstream

on:
  schedule:
    - cron: "0 19 */15 * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Add upstream
        run: git remote add upstream https://github.com/15dd/hikari_novel_flutter.git

      - name: Fetch upstream
        run: git fetch upstream

      - name: Merge upstream
        run: |
          git checkout main
          git merge upstream/main --no-edit

      - name: Push
        run: git push origin main
